{% extends 'newsletter/base.html' %}
{% block content  %}
<div class="container text-center mt-5">
    <form method="post">
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2>Клиент</h2>
                        {% csrf_token %}
                        <div class="form-error">{{ form.non_field_errors }}</div>
                        {% for f in form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}
                        <button type="submit" class="btn btn-outline-success">Сохранить</button>
                    </div>
                    <div class="card-footer">
                        {% if not object %}
                        <a class="btn btn-outline-primary" href="{% url 'newsletter:client-list' %}"
                           role="button">Посмотреть клиентов</a>
                        <a class="btn btn-outline-primary" href="{% url 'newsletter:newsletter-create' %}"
                           role="button">Далее</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}