{% extends 'newsletter/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center mt-5">
        <div class="col-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Клиент</h4>
                    <p class="card-text">Почта: {{object.email}}</p>
                    <p class="card-text"> Телефон: {{object.phone.as_international}}</p>
                    <p class="card-text"> Ф.И.О.: {{object.full_name}}</p>
                    <p class="card-text"> Пользователь: {{object.author}}</p>
                    <p class="card-text"> Комментарий: {{object.comment}}</p>
                    {% if perms.newsletter.change_client and perms.newsletter.delete_client%}
                    <a href="{% url 'newsletter:client-update' object.pk %}"
                       class="btn btn-outline-warning">Редактировать</a>
                    <a href="{% url 'newsletter:client-delete' object.pk %}"
                       class="btn btn-outline-danger">Удалить</a>
                    {% endif %}
                    <a href="{% url 'newsletter:client-list' %}"
                       class="btn btn-outline-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}