{% extends 'newsletter/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center mt-5">
        <div class="col-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Сообщение</h4>
                    <p class="card-text">Тема: {{object.subject}}</p>
                    <p class="card-text"> Текст: {{object.body}}</p>
                    {% if perms.newsletter.change_message and perms.newsletter.delete_message %}
                    <a href="{% url 'newsletter:message-update' object.pk %}"
                       class="btn btn-outline-warning">Редактировать</a>
                    <a href="{% url 'newsletter:message-delete' object.pk %}"
                       class="btn btn-outline-danger">Удалить</a>
                    {% endif %}
                    <a href="{% url 'newsletter:message-list' %}"
                       class="btn btn-outline-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}