{% extends 'newsletter/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center mt-5">
        {% for object in object_list %}
        <ul class="list-group">
            <li>
                <div class="col-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ object }}</h4>
                            <p class="card-text">
                                {{ object.body|slice:100 }}
                            </p>
                            <a href="{% url 'newsletter:message-detail' object.pk %}"
                               class="btn btn-outline-primary">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        {% endfor %}
        <div class="row mt-5">
            <div class="col-3 mx-auto">
                <a class="btn btn-outline-primary" href="{% url 'newsletter:message-create' %}"
                   role="button">Добавить сообщение</a>
                <a class="btn btn-outline-primary" href="{% url 'newsletter:home' %}"
                   role="button">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}