{% extends 'newsletter/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center mt-5">
        {% for object in object_list %}
        <ul class="list-group">
            <li>
                <div class="col-4 mt-3">
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <div class="card-body text-start">
                                    <h4 class="card-title">{{ object.name }}</h4>
                                    <a href="{% url 'newsletter:newsletter-detail' object.pk %}"
                                       class="btn btn-outline-primary">Посмотреть</a>
                                </div>
                            </div>
                            <div class="col mt-3">
                                <h4>Статус</h4>
                                {% if object.status == 'CR' %}
                                <p>
                                    <button type="button" class="btn btn-warning">{{object.MAILING_STATUS_OPTIONS.CR}}
                                    </button>
                                </p>

                                {% elif object.status == 'LA' %}
                                <p>
                                    <button type="button" class="btn btn-success">{{object.MAILING_STATUS_OPTIONS.LA}}
                                    </button>
                                </p>

                                {% elif object.status == 'CO' %}
                                <p>
                                    <button type="button" class="btn btn-danger">{{object.MAILING_STATUS_OPTIONS.CO}}
                                    </button>
                                </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        {% endfor %}
        <div class="row mt-5">
            <div class="col-8 mx-auto">
                <a class="btn btn-outline-primary" href="{% url 'newsletter:message-list' %}"
                   role="button">Посмотреть сообщения</a>
                <a class="btn btn-outline-primary" href="{% url 'newsletter:client-list' %}"
                   role="button">Посмотреть клиентов</a>
                {% if perms.newsletter.can_add_newsletter %}
                <a class="btn btn-outline-primary" href="{% url 'newsletter:message-create' %}"
                   role="button">Добавить рассылку</a>
                {% endif %}
                <a class="btn btn-outline-primary" href="{% url 'newsletter:home' %}"
                   role="button">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}