{% extends 'newsletter/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center mt-5">
        <div class="col-3 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить рассылку "{{object.pk}}" ?</p>
                        <button type="submit" class="btn btn-outline-danger">Подтвердить</button>
                        <a href="{% url 'newsletter:newsletter-list' %}" class="btn btn-outline-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}