{% extends 'newsletter/base.html' %}
{% load i18n %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Пароль сброшен</h1>
</div>

<div class="container">
    <div class="row">
        <p>Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.</p>

        <p>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, с которым зарегистрировались, и проверьте папку со спамом.</p>
    </div>
</div>


{% endblock %}
